$b-color: color;
$b-image: image;

$margin-1: 1em;
$margin-2: 2em;
$margin-3: 3em;
$margin-4: 4em;
$margin-auto: auto;

$padding-1: 2px;
$padding-2: 3px;
$padding-3: 4px;
$padding-4: 5px;

$b-shadow: 0 0 2px 20px;

$c-pointer: pointer;
