html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

body {
  background-color: gray;
  color: white;
  scroll-behavior: smooth;
}

main {
  margin: 2em 3em;
}
main #contenitore {
  margin-top: 6em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  letter-spacing: 4px;
  font-weight: 400;
  color: black;
}
main #contenitore h1 {
  color: rgb(94, 87, 87);
  font-weight: 500;
}
main #contenitore p {
  font-size: large;
}
main #contenitore img {
  height: 24em;
  width: 100%;
  margin: 3em 5px;
}
main #sezione2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20em;
  background-image: url("../asset/photo_2023-01-20_10-52-17.jpg");
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2em;
  box-shadow: 4px 4px 20px 10px black;
  text-align: center;
  color: white;
}
main #sezione2 h2 {
  width: 50%;
  background-color: rgba(128, 128, 128, 0.856);
  margin-bottom: 3em;
  border-radius: 10em;
}
main #sezione2 h4 {
  background-color: rgba(128, 128, 128, 0.856);
  border-radius: 10em;
  margin-top: 2em;
  padding: 0 1em;
}

footer {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  letter-spacing: 4px;
  font-weight: 400;
  color: black;
  font-size: smaller;
  text-align: center;
  padding: 1em 0;
  width: 100%;
  background-color: rgb(94, 87, 87);
  color: white;
  position: relative;
  bottom: 0;
}

#contenitore_p2 {
  border: 5px solid rgb(94, 87, 87);
  border-radius: 2em;
  margin-top: 6em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  letter-spacing: 4px;
  font-weight: 400;
  color: black;
  text-align: center;
}
#contenitore_p2 img {
  border-radius: 3em;
  margin-top: 2em;
}
#contenitore_p2 h2 {
  border: 5px solid rgb(94, 87, 87);
  border-radius: 1em;
  padding: 20px 0;
  width: 15em;
  position: relative;
  top: 70px;
  z-index: 0;
  background-color: gray;
}
#contenitore_p2 .sezioni {
  border: 2px solid rgb(94, 87, 87);
  border-radius: 2em;
  margin: 1em auto;
  width: 90%;
}
#contenitore_p2 .sezioni #title {
  margin-top: 2em;
}

#contenitore_p3 {
  margin-top: 9em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  letter-spacing: 4px;
  font-weight: 400;
  color: black;
  font-size: 1em;
}
#contenitore_p3 #prodotto {
  height: 13em;
  float: right;
  margin: 0 2em 5px 0;
  border-radius: 1em;
}
#contenitore_p3 h2 {
  margin-bottom: 1em;
  color: rgb(94, 87, 87);
}
#contenitore_p3 #contenitore_prodotti {
  margin-top: 1em;
  display: flex;
  justify-content: space-between;
}
#contenitore_p3 #contenitore_prodotti img {
  height: 20em;
  margin: 1em 0;
  border-radius: 3em;
  box-shadow: 4px 4px 20px 10px black;
  cursor: pointer;
  width: 300px;
}

#contenitore_p4 {
  margin-top: 6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20em;
  background-image: url("../asset/photo_2023-01-20_10-52-17.jpg");
  background-size: contain;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 2em;
  box-shadow: 4px 4px 20px 10px black;
  text-align: center;
  background-position-y: center;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  letter-spacing: 4px;
  font-weight: 400;
  color: black;
  margin-bottom: 3em;
}
#contenitore_p4 h2 {
  background-color: rgba(128, 128, 128, 0.856);
  margin-bottom: 3em;
  border-radius: 10em;
  padding: 5px 1em;
}

.orari {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  letter-spacing: 4px;
  font-weight: 400;
  color: black;
  -spacing: 1em;
}

button {
  border-radius: 2em;
  padding: 5px 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: x-large;
  letter-spacing: 4px;
  font-weight: 400;
  color: black;
  background-color: rgba(92, 13, 13, 0.904);
  color: rgb(94, 87, 87);
}
button:hover {
  transform: scale(1.2);
  box-shadow: 0 0 20px 10px black;
  color: black;
}/*# sourceMappingURL=app.css.map */